* {
    box-sizing: border-box;
    margin: 0;
}

#weather-container {
    height:100vh;
    background-color: aqua;
}

#search-container {
    padding:5rem;
    width:60%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#weather-search-input {
    outline: none;
    font-size: 1.6rem;
    border: none;
    padding:10px;
    border-radius: 5px;
    margin-right: 10px;
}

#weather-search-button {
    background-color: antiquewhite;
    border:none;
    font-size: 1.6rem;
    border-radius: 5px;
}